.hero-background{
  position: absolute;
  display: block;
  top: 0; right: 0; left: 0; bottom: 0;
  height: 100%;
  width: 100%;
  background: transparent;
}

.hero-background .radial-light {
  position: absolute;
  right: 0; left: 0; bottom: -375px;
  margin: 0 auto;
  height: auto;
  width: 1337px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  animation: fadeInAndScaleRadial 1s ease-in-out forwards;
  z-index: 10;
  @media screen and (max-width: 1440px) {
    transform: translateX(-50%) !important;
    margin-left: 50%;
  }
  @media screen and (max-width: 1199.98px) {
    width: calc(100% + 250px);
  }
  @media screen and (max-width: 1023.98px) {
    width: calc(100% + 400px);
  }
  @media screen and (max-width: 991.98px) {
    width: calc(100% + 400px);
  }
}

.hero-background .radial-light-particles {
  position: absolute;
  right: 0; left: 0; bottom: 160px;
  margin: 0 auto;
  height: auto;
  width: 1387px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  animation: fadeInParticlesRadial 1s ease-in-out forwards;
  z-index: 10;
  @media screen and (max-width: 1440px) {
    transform: translate(-50%, 0);
    margin-left: 50%;
  }
  @media screen and (max-width: 1199.98px) {
    width: calc(100% + 80px + 32px);
  }
  @media screen and (max-width: 991.98px) {
    width: calc(100% + 60px + 32px);
  }
}

.hero-background .lamp-pillar-front {
  position: absolute;
  right: 0; left: 0; bottom: 133px;
  margin: 0 auto;
  height: auto;
  width: 988px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  animation: lampPillarFrontAnimation 1s ease-in forwards;
  z-index: 5;
  @media screen and (max-width: 1440px) {
    transform: translate(-50%, 0);
    margin-left: 50%;
  }
  @media screen and (max-width: 1199.98px) {
    width: calc(80%);
  }
}

.hero-background .lamp-pillar-behind {
  position: absolute;
  right: 0; left: 0; bottom: 135px;
  margin: 0 auto;
  height: auto;
  width: 1440px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  animation: lampPillarBehindAnimation 1s ease-in forwards;
  z-index: 3;
  @media screen and (max-width: 1440px) {
    transform: translate(-50%, 0);
    margin-left: 50%;
  }
  @media screen and (max-width: 1199.98px) {
    width: calc(100%);
    // width: calc(100% + 200px);
  }
}

.hero-background .leaf-pillar {
  position: absolute;
  right: 0; left: 0; bottom: -64px;
  margin: 0 auto;
  height: auto;
  width: 1355px;
  animation: leafPillarAnimationDekstop 1s ease-in forwards;
  z-index: 9;
  @media screen and (max-width: 1440px) {
    transform: translate(-50%, 0);
    margin-left: 50%;
  }
  @media screen and (max-width: 1199.98px) {
    width: calc(100% + 80px);
    bottom: -24px;
    animation: leafPillarAnimationDekstopTablet 1s ease-in forwards;
  }
  @media screen and (max-width: 991.98px) {
    width: calc(100% + 60px);
    bottom: 0;
    animation: leafPillarAnimationTablet 1s ease-in forwards;
  }
}





/* Animation */
@keyframes fadeInAndScaleRadial {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInParticlesRadial {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lampPillarFrontAnimation {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 133px;
  }
}
@keyframes lampPillarBehindAnimation {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 135px;
  }
}
@keyframes leafPillarAnimationDekstop {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -64px;
  }
}
@keyframes leafPillarAnimationDekstopTablet {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -24px;
  }
}
@keyframes leafPillarAnimationTablet {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}



.particles{
  position: relative;
  bottom: -150px;
  @media screen and (max-width: 1199.98px) {
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    left: -16px;
    right: 0;
    bottom: -300px;
  }
}
.circle-container {
  $particleNum: 250;
  $particleColor: hsl(57.333, 69.3%, 76.9%);

  position: absolute;
  transform: translateY(-20vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 10;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(57.333, 69.3%, 76.9%),
      hsl(57.333, 69.3%, 76.9%) 10%,
      hsla(57.333, 69.3%, 76.9%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2S infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  
  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 20000 + random(10000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(30000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(3000) + ms;
      }
    }
  }
}